<% provide(:title, 'History') %>

<%= link_to "All:", history_path %> <%= @all %>
<%= link_to "Correct:", correct_path %> <%= @correct %>
<% if @all != 0 %>
    (<%= (100.0 * @correct / @all).round(1) %>%)
<% end %>
<%= link_to "Fail:", fail_path %> <%= @fail %>
<% if @all != 0 %>
    (<%= (100.0 * @fail / @all).round(1) %>%)
<% end %>
<%= link_to "Unmarked:", unmarked_path %> <%= @unmarked %>
<% if @all != 0 %>
    (<%= (100.0 * @unmarked / @all).round(1) %>%)
<% end %>

<table id="history">
  <tbody>
  <% (0..@digits.count-1).step(5) do |i|%>
  <tr>
    <td><%= render  partial: "show", locals: { digit: @digits[i] } %></td>
    <td><%= render  partial: "show", locals: { digit: @digits[i + 1] } if !@digits[i + 1].nil? %></td>
    <td><%= render  partial: "show", locals: { digit: @digits[i + 2] } if !@digits[i + 2].nil? %></td>
    <td><%= render  partial: "show", locals: { digit: @digits[i + 3] } if !@digits[i + 3].nil? %></td>
    <td><%= render  partial: "show", locals: { digit: @digits[i + 4] } if !@digits[i + 4].nil? %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%
   page = params[:page].to_i
   last_page = Digit.where(user_id: @current_user.id).count()/15 + 1
   if page > 3
%>
    <%= link_to "1", history_path(page: 1) %>
<% end %>
<% if page > 4 %>
    ...
<% end %>
<% ([1, page - 2].max..[page + 2, last_page].min).each do |i| %>
    <%= link_to i.to_s, history_path(page: i) %>
<% end %>
<% if page + 3 < last_page %>
    ...
<% end %>
<% if page + 2 < last_page %>
    <%= link_to last_page.to_s, history_path(page: last_page) %>
<% end %>