<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
    <%= render partial: 'shared/error_messages', locals: { errors: @user.errors }  %>

    <div><%= f.label :name%></div>
    <div><%= f.text_field :name %></div>

    <div><%= f.label :password %></div>
    <div><%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation, "Confirmation" %></div>
    <div><%= f.password_field :password_confirmation %></div>
    
    <%= f.submit "Create" %>
<% end %>
