<!DOCTYPE html>
<html>

<head>
  <title>DigitsRecognizer</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>

<body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
        <div class="error"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
